.arrowContainer .link {
    color: var(--fontColor);
    font-weight: 600;
    margin-left: 25px;
    margin-top: 25px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .arrowContainer .arrowBack {
    height: 18px;
    width: 18px;
  }