@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&family=PT+Sans:wght@400;700&family=Poppins:wght@300;400;600;700;800&display=swap");
:root{
  --bgColorBtn:#F4B41A;
  --bgContainer:#12203D;
  --fontColor:#143D59;
}

* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
